include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include jpk_v7m *.css
recursive-include jpk_v7m *.csv
recursive-include jpk_v7m *.html
recursive-include jpk_v7m *.ico
recursive-include jpk_v7m *.js
recursive-include jpk_v7m *.json
recursive-include jpk_v7m *.md
recursive-include jpk_v7m *.png
recursive-include jpk_v7m *.py
recursive-include jpk_v7m *.svg
recursive-include jpk_v7m *.txt
recursive-exclude jpk_v7m *.pyc